.progress-bar .track{
    -fx-background-color: transparent;

}
.progress-bar .bar{
    -fx-background-color: white;
}
.slider .track{
    -fx-pref-height: 4px;
    -fx-background-color: white;
}

.slider .thumb {
    -fx-background-color: white;
}

.slider .tick-mark {
    -fx-stroke: white;
}